@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-size: clamp(calc(1.4 * 1rem),calc(1.4 * 1rem + ((1vw - ( 32 / 100) * 1rem) * (100 * ( 1.8 - 1.4) / ( 128 - 32)))),calc(1.8 * 1rem));
    line-height: 1.5;
}
.contenedor{
    width: 95%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 40px;
}
h1{
    font-size: clamp(2.7648rem,calc(1.5611119444vw + 2.2652441778rem),4.2634674666rem);
    font-weight: 600;
    color: hsl(117, 16%, 25%);
    margin-bottom: 15px;
}
.form{
    margin-top: 20px;
}
.form form{
    width: 550px;
}
.formclases{
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-bottom: 20px;
}
.formclase{
    display: flex;
    justify-content: space-between;
}
select{
    padding: 5px;
}
#btn_add{
    background-color: #5e6d5d;
    margin-bottom: 10px;
}
#btn_generar, #download-btn{
    background-color: #364935;
    margin-top: 25px;
}
#btn_add, #btn_generar, #download-btn{
    border: none;
    padding: 8px 16px;
    color: white;
    font-weight: 600;
}
#download-btn{
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.vistaprevia{
    width: 95%;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
.horario{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 85%;
    width: 95%;
    margin: auto;
    border-left: 1px solid #232323;
    border-bottom: 1px solid #232323;
}
.fila-encabezados, .fila-contenido{
    display: grid;
    grid-template-columns: repeat(7, 14%);
    align-items: stretch;
}
.fila-encabezados p{
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    text-align: center;
    color: #fff;
    background: #434343;
}
.fila-contenido p{
    border: 1px solid #232323;
    border-bottom: none;
    border-left: none;
    text-align: center;
}
.class-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hora-cell{
    grid-column: 1;
}